
.table {
    display:table;
    border:1px solid #4800ff;
    padding:2px;
    border-collapse:collapse;
}

.header {
    background-color:#0094ff;
    display:table-row;
}
    .header th {
    display:table-cell;
    padding:5px 20px 5px 5px;
    border-bottom:1px solid #808080;
    }
.row {
    display:table-row;
}

.cell {
    display:table-cell;
    padding:5px 20px 5px 5px;
    border-bottom:1px solid #808080;
}

.row:last-of-type  .cell{
  border-bottom:none;
}

.header .cell {
    border-bottom-color:#4800ff;
    background-color:transparent;
    color:#fff;
}

div.app nav {
     text-align:left;
}

nav ul{
    display:inline-block;
    padding: 10px;
}
    nav ul li {
        text-align:left;
        font-size:0.9em;
    }